*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  overflow-x: hidden;
 font-family: 'Roboto', sans-serif;
}
#left-col{

        background-color: rgb(49,50,71);
        height: 100vh;
        padding: 30px 8px;
}

#spouse-bg-left-col{
    background-color: rgb(49,50,71);
    height: 115vh;
    padding: 30px 8px;
}
#general-left-col{
    background-color: rgb(49,50,71);
    height: 110vh;
    padding: 30px 8px;
}


    
#right-col{
    padding: 20px 100px;
}


input[type="radio"] {
    display: none;
}
input:not(:disabled) ~ label {
    cursor: pointer;
}

 .radio-cards{
    height: 100%;
    display: block;
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
  }

  input[type="radio"]:checked + label {
    background: #505050;
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px rgb(49,50,71);
  }

  input[type="radio"]:checked + label::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid rgb(49,50,71);
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }

  .icons{
      width: 70px;
      height: 70px;
     margin: 20px 0;
  }

  .back{
    margin-right: 10px;
    padding: 5px 30px;
    background-color: white;
    border: black solid 1px;
}

.submit{
    padding: 5px 30px;
    background-color: #4db8ff;
    color: white;
    border: none;
}

#bottom-col{
    padding: 30px 0px 60px 0px;
}

#address-bottom-col{
    padding: 30px 0px 40px 0px;
}

#spouse-bg-bottom-col{
    padding: 30px 0px 0px 0px;
}


#joint-bottom-col{
    padding: 30px 0px 220px 0px;
}

#bg-bottom-col{
    padding: 30px 0px 5px 0px;
}


/* REgistered Section */
#registered-section{
    height: 100vh;
    background-color: #cbd2f5;
}
.registered-h1{
    padding: 10px 10px 10px 30px;
    background-color: #f2e8cb;
    color: black;
    margin-bottom: 0;
   

}

.circle-plus{
    border-radius: 50%;
    padding: 30px;
    border: none;
    
}

.container-circle{
    border: 0px solid white;
}

.registered-bottom{
    background-color: #cbd2f5;
    padding:20px;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    width: 15rem;
    height: 18rem;
  }

  .card-body{
      background-color: rgb(49,50,71);
  }
.card-text{
    margin-bottom: 0;
}
  #registered-photo{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin:0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  /* .plus-sign{
      background-color: #d5d9e0;
      padding: 100px;
      border-radius: 50%;
  } */


    

  /* Thrid section */
  .card-col{
      width: 169px;
      height: 198px;
  }

  #indiv{
      margin-right: 10px;
  }
  #non-indiv{
      margin-left: 10px;
  }

  /*Navbar*/

  #navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color:#e1e1fa ;

}

nav .nav-menu{
    list-style: none;
    color: #fff;
    margin-bottom: 0px;
}

nav .nav-menu li{
    display: inline-block;
    font-size: 12px;
    
}

nav .nav-menu li a{
    font-weight: bolder;
    text-decoration: none;
    color: black;
  padding: 2px 30px;
    background-color: white;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.applicationDetails{
    height: 130vh;
}


.logo h2{
    font-size: 24px;
}

.header-1{
    padding: 50px;
    background-color:#d7d7d9;
    height: 90vh;
}

.header-1-application-details{
    padding: 50px;
    background-color:#d7d7d9;
    height: 130vh;
}
.header-1-tax-calculation{
    padding: 50px;
    background-color:#d7d7d9;
    height: 130vh;
}

#application-left-col{
    background-color: #fff;
    border-radius: 10px;
}

.details h5{
    margin-right: 180px;
}

.details a{
    font-size: 12px;
}

#application-right-col{
    background-color: rgb(49,50,71);
    border-radius: 10px;
}

.btn-details{
    background-color: #4db8ff;
    border: none;
    color: white;
    padding: 5px 10px;
}
.line{
    background-color: white;

    
}

.container-details-amount{
    position: absolute;
    left: 25px;
}

.container-status{
    position: absolute;
    right: 25px;
    background-color:#ffc814;
    padding: 1px 30px;
    border-radius: 20px;
  
}

.container-transaction-status{
    background-color:green;
    padding: 1px 20px;
    border-radius: 20px;
    color:white;
    
}
.view{
    background-color: blue;
    padding: 0"
}
.transaction-h5{
    font-size: 16px;
}

.container-transaction-status h6{
    font-size:14px;
}

.container-status h5{
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 14px;
}

#border{
    border-right: 2px solid gray;
}

#creationDate{
    background-color: rgb(49,50,71);
}

.borderBot{
    border-bottom: 2px solid gray;
}

.submitApplicationBtn{
    color: white;
    padding: 10px 30px;
    background-color: #4db8ff;
    border: none;
    border-radius: 3px;
    font-weight: normal;
    text-transform: uppercase;
}

.paymentInstructionBtn{
    color: #4db8ff;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #4db8ff;
    border-radius: 3px;
    font-weight: normal;
    text-transform: uppercase;
}

.btn-modal{
    background-color: #4db8ff;
    padding: 5px 40px;
    border: none;
    color: white;
}

.paymentCode{
    color: blue;
}

.modal-contents{
    padding: 40px
}

.taxCalculation{
    margin-top: 300px;
}

.details1 h5{
  font-size: 16px;
}

.details2{
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 30px;
}

#taxPayerOrSpouse{
    border-radius: 50px;
}

.transactions-section{
    height: 100vh;
}

.search-button{
    border: none;
    background-color: white;

}

.card-transaction{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    width: 20rem;
    height: 15rem;
}

#tax-calcu-p{
font-size: 14px;
}

#tax-due-form{
    border-radius: 30px;
}

#tax-rate-form{
    border-radius: 30px;
    background-color: rgb(49,50,71);
}


/* Navbar */
.sidenav---sidenav---_2tBP{
    /* background-color: rgb(49,50,71) !important; */
    background-color: whitesmoke !important;
}
.sidenav---navtext---1AE_f{
    color: black !important;
}

.sidenav---icon-bar---u1f02{
    background-color: black  !important;
}
.fa-user-circle:before {
    color: black;
}
.fa.fa-line-chart:before{
    color: black;
}

.nav-buttons{
    text-decoration: none  !important;
    color: black  !important;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T::after, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T::after {
     background: whitesmoke !important; 
    text-decoration: none !important;
}